version: "3.9"

services:
  flask-api:
    build: .
    container_name: flask_api
    ports:
      - "5000:5000"
    volumes:
      - ./app:/app  # чтобы изменения в коде сразу отражались
    environment:
      - FLASK_APP=main.py
      - FLASK_ENV=development